<footer>
    <div class="container">
        <div class="footer-menu">
            <div class="footer-item-logo">
                <div class="footer-logo">
                    <a class="logo-link" href="#">Dynamics 365 blog</a>
                </div>
            </div>
            <div class="footer-item">
                <h2>Discover</h2>
                <ul>
                    {{ with .Site.GetPage "/"}}
                    {{ range .Sections }}
                    <li><a href="{{.URL | absURL }}">{{ .Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="footer-item">
                <h2>About</h2>
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Team</a></li>
                    <li><a href="/">CRM</a></li>
                    <li><a href="/">contact us</a></li>
                </ul>
            </div>
        </div>
        <span class="text-center copytight-text">© Copyright 2021 ANDAZE. All rights reserved.</span>
    </div>
</footer>