<script type="text/javascript">
    algoliasearchNetlify({
      appId: '5Q72C3T99J',
      apiKey: '747a2a2f0fc8c71e6c032bfa85dcb14f',
      siteId: '23ba4425-f265-49c0-b287-cb888a5f951c',
      branch: 'devlop',
      selector: '#searchBig',
    });
  </script>
<footer>
    <div class="container">
        <div class="footer-menu">
            <div class="footer-item-logo">
                <div class="footer-logo">
                    {{ partial "language_url_change.html" (dict "path" (.Site.BaseURL | relLangURL ) "class" "logo-link")}}
                    {{.Site.Params.HeaderTitle}}</a>
                </div>
            </div>
            <div class="footer-item">
                <h2>Discover</h2>
                <ul itemscope itemtype= "http://www.schema.org/SiteNavigationElement" >
                    {{ with .Site.GetPage "/"}}
                    {{ range .Sections }}
                    <li itemprop="name">
                        {{ partial "language_url_change.html" (dict "path" (.URL | absURL) "itemprop" "url")}}
                        {{ .Params.Heading }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
        <span class="text-center copytight-text">© Copyright 2021 ANDAZE. All rights reserved.</span>
    </div>
</footer>