<footer>
    <div class="container">
        <div class="footer-menu">
            <div class="footer-item-logo">
                <div class="footer-logo">
                    <a class="logo-link" href="{{.Site.BaseURL}}">{{.Site.Params.HeaderTitle}}</a>
                </div>
            </div>
            <div class="footer-item">
                <h2>Discover</h2>
                <ul itemscope itemtype= "http://www.schema.org/SiteNavigationElement" >
                    {{ with .Site.GetPage "/"}}
                    {{ range .Sections }}
                    <li itemprop="name"><a itemprop="url" href="{{.URL | absLangURL }}">{{ .Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
        <span class="text-center copytight-text">© Copyright 2021 ANDAZE. All rights reserved.</span>
    </div>
</footer>