{{ $Scratch := newScratch}}
{{ $Scratch.Set "url" "" }}
{{ $lang:= print site.Language }}
{{ if eq ($lang) ("en")}}
    {{$seturl:= replace (.path)  "/dynamic365/en" "/en/dynamic365" }}
    {{ $Scratch.Set "url" $seturl }}
{{ else }}
    {{$seturl:= replace (.path)  "/dynamic365/ja" "/ja/dynamic365" }}
    {{ $Scratch.Set "url" $seturl }}
{{ end }}
{{ $url := $Scratch.Get "url" }}
<a 
    href="{{$url}}" 
    {{if .class}} class="{{.class}}" {{ end }} 
    {{if .target}} target="{{.target}}"{{ end }} 
    {{if .on}} on={{.on}} {{ end }}
    {{ if .style }} style="{{.style}}"{{ end }}
    >