<!-- Old Code -->
<!-- <div class="row">
    <div class="col-3">
        <ul style="list-style-type: none;">
            {{ $getpage:= .File.Dir }}
            {{ $section := site.GetPage (trim $getpage "\\") }}
            {{ range $section.Pages.ByWeight }} 
                <li class="p-2" style="font-weight: 500;"><a style="color:black;" href="{{ .Permalink | absURL }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>   
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">                
                <h5 style="color: darkgray;">{{.Params.Datetitle}} {{ with .Site.GetPage (trim $getpage "\\") }} <a style="list-style-type: none; color: darkgray;" href="{{ .Permalink | absURL }}"> {{ end }} {{ trim $getpage "\\" }} </a>/</h5>
                {{ if .Params.Heading }}
                <h3 style=" font-size:30px;font-weight: 900;">{{.Params.Heading}}</h3>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ if .Params.Image }}
                <img src="../../{{.Params.Image}}" alt="Image Not Available" srcset="" width="100%">
                {{ end }}
            </div>
        </div>
        <div class="row" style="text-align: -webkit-right;">
            <div class="col">
                {{ if .Params.Author}}
                <table>
                    <tr>
                        <td>
                            <img src="../../{{.Params.Authorimage}}" class="rounded-circle" alt="" width="80px" height="80px">
                        </td>
                        <td>
                            <h6 style="color: darkgray; font-weight: 700; font-size: 20px;">Author:{{.Params.Author}}</h6>
                            <h6 style="font-size: 20px;"><a href=""> linkedIn</a></h6>
                        </td>
                    </tr>
                </table> 
                {{ end }} 
            </div>
        </div>
        <div class="row">
            <div class="col" style="color: darkgray; font-size: 22px; font-weight: 600;">
                {{ if .Content }}<p>{{ .Content }}</p>{{ end }}
            </div>

        </div>
        
    </div>
    <div class="col-3" style="color:darkgray !important;">
        <h6 style="font-weight: bold;">{{ .TableOfContents }}</h6>
    </div>
</div>
<div class="row">
    
    <div class="col" style="text-align: center;">
        {{if .NextInSection}}
        <button class="btn btn-success "><a style="color: white;" href="{{.NextInSection.Permalink}}"> {{.NextInSection.Title}} </a> </button>
        {{end}}
    </div>
    <div class="col" style="text-align: center;">
        {{if .PrevInSection}}
        <button class="btn btn-success "><a style="color: white;" href="{{.PrevInSection.Permalink}}"> {{.PrevInSection.Title}} </a> </button>
        {{end}}
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
            {{ with .Site.GetPage }}<a style="list-style-type: none; color: darkgray;" href="{{.Permalink | absURL }}">{{ .Title }}</a>{{ end }}/
            {{ with .Site.GetPage (trim $getpage "\\") }} <a style="list-style-type: none; color: darkgray;" href="{{ .Permalink | absURL }}"> {{ end }} {{ trim $getpage "\\" }} </a>/ <a style="list-style-type: none; color: darkgray;" href="">{{ .Title }}</a>

    </div>
</div> -->

<!-- New Code -->
<main>
    <section>
      <div class="full-container">
        <div class="page-wrapper">
          <div class="left-page-wrapper">
            <div class="navigation">
              <ul class="navigation-list">
                {{ $getpage:= .File.Dir }}
                {{ $section := site.GetPage (trim $getpage "\\") }}
                {{ range $section.Pages.ByWeight }}         
                <li>
                  <a href=" {{ .Permalink | absURL }}" on="tap:aboutMenu.toggleVisibility">{{.Title }}</a>
                  <!-- <ul class="sub-navigation-list" id="aboutMenu" hidden>
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Hugo's Security Model</a></li>
                    <li><a href="#">Hugo and GDPR</a></li>
                    <li><a href="#">What is Hugo</a></li>
                    <li><a href="#">Hugo Features</a></li>
                    <li><a href="#">The Benefits of Static</a></li>
                    <li><a href="#">License</a></li>
                  </ul> -->
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="middle-page-wrapper">
            <div class="inner-wrapper">
              <div class="top-header">
                {{.Params.Datetitle}}  {{ with .Site.GetPage (trim $getpage "\\") }}<a href="{{ .Permalink | absURL }}" class="title">{{.Title}}</a>{{ end }}/ 
                {{ if .Params.Heading }}
                <h1 class="main-title">{{.Params.Heading}}</h1>
                {{ end }}
              </div>
              <aside class="">
             
              </aside>
              <div class="prose">
                {{ if .Params.Image }}
                <amp-img layout="responsive" width="900" height="500" src="../../{{.Params.Image}}"> </amp-img>
                {{ end }}
                {{ if .Params.Author}}
                <div class="col" style="text-align: -webkit-right;">
                <table>
                    <tr>
                        <td>
                            <amp-img layout="responsive" width="70px" height="70px" src="../../{{.Params.Authorimage}}"> </amp-img>                         </td>
                        <td>
                            <h6 style="color: darkgray;">Author:{{.Params.Author}}</h6>
                            <h6 style="font-size: 20px;"><a href=""> linkedIn</a></h6>
                        </td>
                    </tr>
                </table> 
              </div>
                {{ end }} 
                {{ if .Content }}<p>{{ .Content }}</p>{{ end }}
              </div>
            </div>
                  {{if .NextInSection}}
                  <button class="btn btn-success "><a href="{{.NextInSection.Permalink}}"> {{.NextInSection.Title}} </a> </button>
                  {{end}}
                  {{if .PrevInSection}}
                  <button class="btn btn-success "><a href="{{.PrevInSection.Permalink}}"> {{.PrevInSection.Title}} </a> </button>
                  {{end}}
                      {{ with .Site.GetPage }}<a style="list-style-type: none; color: darkgray;" href="{{.Permalink | absURL }}">{{ .Title }}</a>{{ end }}/
                      {{ with .Site.GetPage (trim $getpage "\\") }} <a style="list-style-type: none; color: darkgray;" href="{{ .Permalink | absURL }}"> {{ end }} {{ trim $getpage "\\" }} </a>/ <a style="list-style-type: none; color: darkgray;" href="">{{ .Title }}</a>
          </div>
          
          <div class="right-page-wrapper">
            <aside>
              <h6>What's on this Page</h6>
              <nav>
                <ul>
                  <li>{{ .TableOfContents }}</li>
                </ul>
              </nav>
            </aside>
          </div>
        </div>
      </div>
    </section>
  </main>
