{{/* 
    < imagedisplay  src="" width="" ratio="" layout="" >
  
    Attribute:
    ----------
    src (Require) => need to pass image name with extenstion
    width (optional) => need to pass image width if you not pass then it will take default using Image.Width function
    ratio (optional) => need to pass image ration if you not pass then it will take default using width and height multiplication  
    layout (optional) => need to pass image layout 
    
    Example: 
    --------
    {{< imagedisplay  src="sample.jpg" width="" ratio="" layout="" >}} 
    
    */}}
    
{{ $Scratch := newScratch}}
{{ $Scratch.Set "width" "" }}
    
{{ $src := (.Get "src") }}
{{ $defaultBackground := "Image Not Available" }}
{{ $srcimg := $.Page.Resources.GetMatch $src | default $defaultBackground }}
{{ if eq $srcimg $defaultBackground }}
    <a href="{{.Page.Permalink}}{{$src}}" target="_blank">Image Not Available</a>
{{ else }}
{{ $srcimg_width := $srcimg.Width }}
{{ $srcimg_height := $srcimg.Height }}
{{ $srcimg_ratio := div (float $srcimg_height) (float $srcimg_width) }} 
{{ if gt $srcimg.Width .Site.Params.Imagewidth }}
    {{ $getwidth := int (default .Site.Params.Imagewidth (.Get "width")) }}
    {{ $Scratch.Set "width" $getwidth }}
{{ else }}
    {{ $getwidth := int (default $srcimg_width (.Get "width")) }}
    {{ $Scratch.Set "width" $getwidth }}
{{ end }}
{{ $width := $Scratch.Get "width" }}

{{ $ratio := float (default $srcimg_ratio (.Get "ratio")) }}
{{ $layout := .Get "layout" }}

{{ $height := int (mul $width $ratio) }}

{{ $wmax := mul $width 2 }}
{{ $wmin := int (div $width 4) }}

{{ $getdata:= split .Site.Params.Imageratio " " }}

{{ $array := $getdata }}
{{ $dict := dict }}
{{ range $array }}
{{$imgratio:= float .}}
    {{ $crop_prm := printf "%dx%d" (int (mul $width $imgratio)) (int (mul $height $imgratio)) }}
    {{ $cropsize:= print $crop_prm " webp"}}
    {{/* {{ $cropsize:= print $crop_prm " webp"}} */}}
    {{ $crop_img := $srcimg.Resize $cropsize }}
    {{ $dict = merge $dict (dict (string .) $crop_img.RelPermalink) }}
{{ end }}
<br>
<br>
<amp-img alt="Image Not Available" src="" width="{{ $width }}"  height="{{$height}}" layout="responsive" srcset='{{ range $array }}{{ printf "\n%s" (index $dict (string .)) }}{{ printf " %sx," (string .)}}{{ end }}'>
</amp-img>
<br>
<br>
{{ end }}
