{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $size1 := .Get 1 }}
{{ $size2 := .Get 2 }}
{{ $size3 := .Get 3}}

{{ $smallw := printf "%s%s" $size1 "x" }}
{{ $mediumw := printf "%s%s" $size2 "x" }}
{{ $largew := printf "%s%s" $size3 "x" }}

<figure>
  <picture>
    {{ $small := $src.Resize $smallw }}
    {{ $medium := $src.Resize $mediumw }}
    {{ $large := $src.Resize $largew }}
    
    {{ $type_arr := split $small.RelPermalink "." }}
    {{ $srcbase := index $type_arr 0 }}
    {{ $smallwebp := print $srcbase ".webp" }}

    {{ $type_arr := split $medium.RelPermalink "." }}
    {{ $srcbase := index $type_arr 0 }}
    {{ $mediumwebp := print $srcbase ".webp" }}

    {{ $type_arr := split $large.RelPermalink "." }}
    {{ $srcbase := index $type_arr 0 }}
    {{ $largewebp := print $srcbase ".webp" }}
    
    {{if eq .Site.Params.Env "prod" }}
    <amp-img alt="Image Not Available" src="" width="1.33"  height="1" layout="responsive" srcset="{{ $largewebp }} 1024w, {{ $mediumwebp }} 640w, {{ $smallwebp  }} 320w" sizes="(max-width: 375px) $size1,
      (max-width: 768px) $size2,
      $size3">
    </amp-img>
    {{ end }}
    {{ if eq .Site.Params.Env "devlop" }}
    <amp-img alt="Image Not Available" src="{{$src.RelPermalink}}" width="1.33"  height="1" layout="responsive" srcset=" {{ with $large.RelPermalink }}{{.}} 1024w{{ end }}
      {{ with $medium.RelPermalink }}, {{.}} 640w{{ end }}
      {{ with $small.RelPermalink }}, {{.}} 320w{{ end }}" sizes="(max-width: 375px) {{$size1}},
      (max-width: 768px) {{$size2}},
      {{$size3}}">
    </amp-img>
     <!-- <amp-img alt="Image Not Available" src="{{$src.RelPermalink}}" class="contain" layout="fill" srcset=" {{ with $large.RelPermalink }}{{.}} 1024w{{ end }}
      {{ with $medium.RelPermalink }}, {{.}} 640w{{ end }}
      {{ with $small.RelPermalink }}, {{.}} 320w{{ end }}" sizes="(max-width: 375px) {{$size1}},
      (max-width: 768px) {{$size2}},
      {{$size3}}">
    </amp-img> -->
    {{ end }}
  </picture>
</figure>